__pycache__/

# Файлы с командами
*.tap
# Исключение: не игнорировать файл reference (эталонный файл для тестов)
!reference.tap

# Файлы визуализации
*.html

# Временные папки тестов
Тестовая_игольница/

# PyInstaller
build/
dist/
*.spec